@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;

}


h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
    font-family: 'Open Sans', sans-serif;
}

/*----------- bannar section start---------- */
.header {
    width: 1140px;

    margin-left: 97px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}

#top-banner {
    background-image: url(donat_img/donation13.jpg), linear-gradient(rgb(7, 1, 1), gray);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}

.header-text h1 {
    color: white;
    font-size: 50px;
    font-weight: 00;
    text-transform: none;
    text-align: center;
    margin-top: 100px;
    margin-left:
}

.header-text p {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 15px
}

.header-text {
    width: 600px;
    margin: auto;


}

.header-btn a {
    text-align: center;


    color: black;
    padding: 15px 20px;
    text-decoration: none;

    border-radius: 30px;
    background: white;
    font-weight: 900
}

.header-btn {
    margin-bottom: 100px;
    margin-top: 40px;


}

/*------- banner section end !  */


/*  -----donate section start */

.donate-contain {
    width: 1140px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;


}

#donate {
    margin-top: 60px;
    margin-bottom: 100px;
}

.donate-header h1 {
    font-size: 30px;

}

.donate-header p {
    width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 14px;
    color: #575757
}

.single-box {
    color: white;

    width: 100px;
    padding: 70px 50px;
    font-size: 30px;
    font-weight: 800;
    background: #FAFAFA;
    box-shadow: 5px 7px 15px grey;
    float: left;
    margin-left: 25px;
    background: #939499;

}

.single-box2 {
    color: black;

    width: 100px;
    padding: 70px 50px;
    font-size: 30px;
    font-weight: 800;
    background: #FAFAFA;
    box-shadow: 5px 7px 15px grey;
    float: left;
    margin-left: 25px;
    background: white;


}

.donate-boxes {
    margin-top: 40px;
    margin-bottom: 40px;


    padding-bottom: 200px;


}

.donate-btn a {
    text-align: center;


    color: white;
    padding: 17px 30px;
    text-decoration: none;

    border-radius: 15px;
    background: gray;
    font-weight: 900;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 150px;
    border: 2px solid gray;


}

.donate-other p {
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: center;
    color: gray;
    font-size: 15px;
    border-bottom: 1px solid rgb(216, 206, 206);
    margin-left: 23px;
    padding-bottom: 15px
}

/*  -----donate section end */


/* ---------our team plan section start */
.plan-contain {
    width: 1140px;
    text-align: center;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 20px;
}

#donate-plan {

    padding-top: 20px;
    padding-bottom: 20px;
}

.plan-header h1 {
    font-size: 30px;
}

.plan-header p {
    width: 500px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 14px;
    color: #575757
}

.plan-boxes {
    margin-top: 40px;
    margin-bottom: 80px;


    padding-bottom: 200px;


}

.plan_single_box {

    width: 300px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    float: left;
    margin-left: 30px;


}

.box_contain p {
    color: gray;
    font-size: 14px
}

.box_contain h3 {
    padding: 15px;
    padding-bottom: 15px
}

.plan_single_box3 {

    width: 300px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 0px;
    float: left;
    padding-bottom: 45px;
    margin-left: 30px;
    background: #c9f0e1;
    box-shadow: 5px 7px 20px grey;


}

.plan_single_box2 {

    width: 300px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    float: left;
    margin-left: 30px;
    background: #e7c1e4;
    box-shadow: 5px 7px 20px grey;


}

.plan_single_box1 {

    width: 300px;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    float: left;
    margin-left: 30px;
    background: #bce3f3;
    box-shadow: 5px 7px 20px grey;

}

/* ---------our team plan section end--------------- */

/*----------footer section start  */

#last-section {
    background: black;
    margin-bottom: 20px;
    margin-top: 70px;


}

.about-header h3 {
    color: white;


}

.about-header p {
    color: gray;
    font-size: 12px;
}

.footer-contain {

    width: 1140px;
    margin: auto;
    display: flex;
    padding-top: 50px
}

.about-header {
    width: 300px;

    margin-top: 30px;
    margin-left: 10px;
}

.contact_us {
    width: 300px;

    margin-top: 20px;
    float: right;
    margin-left: 643px;

}

.contact_us p {
    color: gray;
    font-size: 12px;
}

.contact_us h3 {
    color: white;
}

.copyright p {
    color: white;
    text-align: center;
    font-size: 18px;

    margin-top: 40px;
    padding-bottom: 20px;

}




/*----------footer section end  */

/* form section start  */

.form_head {
    text-align: center;
}

.form_head h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.form_head p {
    width: 500px;
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.form_contain {
    width: 1140px;
    margin: auto;
}

.form_email {
    margin-top: 40px;
    text-align: center;

}

.form_email b {
    font-size: 20px;
    margin-left: 15px;
}

#i-email {
    font-size: 25px;
    background: #E7EAED;
    border: none;
}

#i-passoword {
    font-size: 25px;
    background: #E7EAED;
    border: none;
    margin-left: 30px;
}

.form_email p {
    background: gray;
    width: 100px;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    margin-left: 142px;
    margin-top: 50px;
}

/* form section end */